/*-------------
    RESET
-------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-------------
      TYPO
-------------*/
body {
  font-family: "Roboto", serif;
  overflow-y: hidden;
}

/*-------------
      GENERAL
-------------*/
.container {
  width: 1300px;
  margin: auto;
}
.flag-cont {
  width: 18px;
  margin-left: 6px;
}

li {
  padding-bottom: 20px;
}

i {
  color: yellow;
}

/*-------------
    HEADER
-------------*/
header {
  display: flex;
  background-color: #14213d;
  height: 15vh;
}

header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

header img {
  width: 120px;
  padding: 10px;
  border-radius: 100%;
}

input {
  margin-right: 20px;
  width: 200px;
  height: 30px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/*-------------
    MAIN
-------------*/
main {
  background-color: #e5e5e5;
  height: 70vh;
}
.main-cont {
  width: 1400px;
  margin: auto;
}
.main-cont h1 {
  color: #a93300;
  padding: 20px 0;
}

/*-------------
    CARD
-------------*/
.movies-list {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  padding-bottom: 10px;
}
.movie-card {
  width: 200px;
  flex-shrink: 0;
}
.movie-card h3 {
  text-align: center;
  min-height: 55px;
}
.card-img {
  max-width: 100%;
}

/*-------------
    FOOTER
-------------*/
footer {
  height: 15vh;
  background-color: #14213d;
}

footer img {
  width: 120px;
  padding: 10px;
  border-radius: 100%;
}
