/*-------------
    RESET
-------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-------------
      TYPO
-------------*/
body {
  font-family: "Roboto", serif;
  /* overflow-y: hidden; */
}

/*-------------
      GENERAL
-------------*/
.container {
  width: 1300px;
  margin: auto;
}
.flag-cont {
  width: 18px;
  margin-left: 6px;
}

li {
  padding-bottom: 20px;
}

i {
  color: yellow;
}

/*-------------
    HEADER
-------------*/
header {
  display: flex;
  background-color: #14213d;
  height: 15vh;
}

header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

header img {
  width: 120px;
  padding: 10px;
  border-radius: 100%;
}

input {
  margin-right: 20px;
  width: 200px;
  height: 30px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/*-------------
    MAIN
-------------*/
main {
  background-color: #e5e5e5;
  min-height: 70vh;
}
.main-cont {
  width: 1400px;
  margin: auto;
}
.main-cont h1 {
  color: #a93300;
  padding: 20px 0;
}

/*-------------
    CARD
-------------*/
.movies-list {
  display: flex;
  gap: 30px;
  /* overflow-x: auto; */
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.movie-card {
  width: 200px;
  position: relative;
}
.movie-card h3 {
  text-align: center;
}
.card-img {
  max-width: 100%;
}
.cover-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  cursor: pointer;
}

.cover-hover p {
  line-height: 25px;
  height: 90%;
  overflow-y: auto;
  font-size: 16px;
}

.cover-hover:hover {
  /* width: 200px; */
  opacity: 1;
}

.cover-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  padding: 5px;
}

/*-------------
    FOOTER
-------------*/
footer {
  height: 15vh;
  background-color: #14213d;
}

footer img {
  width: 120px;
  padding: 10px;
  border-radius: 100%;
}
